*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace, sans-serif;
}

#menu li a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin: 5px 0px;
    transition: all 0.3s ease;
}

#menu{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    transition: all 1s ease;
}

#menu li a:hover{
    background-color: #000;
    color: #fff;
}

#abt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}

#back a{
   font-size: 20px;
   padding: 10px;
   color: #000;
   font-weight: bold;
   text-decoration: none;
   transition: all 0.3s ease;
}

#back a:hover{
   background-color: #000;
   color: #fff;
}

#back{
    position: absolute;
    top: 70%;
    left: 47%;
    transition: all 1s ease;
}

.wrapper{
    width: 330px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

#sisoheader{
    font-size: 2rem;
    color: #07001f;
    margin-bottom: 1.2rem;
}

#sisoform input{
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    color: #fff;
    background: #c5c6c7;
}

#sisobtn{
    font-size: 1rem;
    margin-top: 1.8rem;
    padding: 10px 0;
    border-radius: 10px;
    outline: none;
    border: none;
    width: 90%;
    color: #fff;
    cursor: pointer;
    background: #000;
}

#sisobtn:hover{
    background: #0d0907;
}

#sisoform input:focus{
    border: 1px solid #000; 
}

.members{
    font-size: 1rem;
    margin-top: 1.4rem;
    color: #636363;
}

.members button{
    border: none;
    background-color: transparent;
    text-decoration: none;
    color: #000;
}

.members button:hover{
    background-color: #000;
    color: #fff;
}

   